<html>
<head>
    <title>Mermaid ASCII</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            padding: 10px;
        }
        .container {
            display: flex;
            gap: 20px;
        }
        .column {
            flex: 1;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        #input {
            display: flex;
            flex-direction: column;
            gap: 10px; /* Add space between form elements */
        }
        textarea {
            width: 100%;
            height: 300px;
        }
        .github-link {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        .github-link img {
            margin-right: 3px;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #0056b3;
        }
        .code-block {
            /* margin-top: 20px; */
            padding: 10px;
            background-color: #e9ecef;
            border: 1px solid #ccc;
            border-radius: 4px;
            position: relative; /* To position the copy button */
        }
        #result {
            min-height: 300px;
        }
        .copy-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            transition: background-color 0.3s;
        }
        .copy-button:hover {
            background-color: #0056b3;
        }
        .slider-container {
            display: flex;
            /* flex-direction: column;
            align-items: flex-start; */
        }
        .slider-label-container {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
        .slider-value {
            background-color: #fff;
            padding: 2px 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif;
            margin-left: 10px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script>
        function updateSliderValue(slider) {
            const valueDisplay = slider.previousElementSibling.querySelector('.slider-value');
            valueDisplay.textContent = slider.value;
        }

        function initializeSliderValues() {
            const sliders = document.querySelectorAll('input[type="range"]');
            sliders.forEach(slider => {
                updateSliderValue(slider);
            });
        }
        function setExample(example) {
            document.querySelector('textarea[name="mermaid"]').value = example;
        }

        document.addEventListener('DOMContentLoaded', initializeSliderValues);
    </script>
</head>
<body>
    <a href="https://github.com/AlexanderGrooff/mermaid-ascii" class="github-link">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" width="32" height="32">
        AlexanderGrooff/mermaid-ascii
    </a>
    <h1>Mermaid ASCII <small style="font-size: 0.5em; color: #888;">v{{ .Version }}</small></h1>
    <div class="container">
        <div class="column">
            <form id="input" hx-post="/generate" hx-target="#result"
                hx-trigger="click from:.example-buttons">
                <textarea
                    name="mermaid" placeholder="graph LR"
                    hx-post="/generate"
                    hx-trigger="keyup changed delay:200ms, changed"
                ></textarea>
                <div class="slider-container">
                    <div class="slider-label-container">
                        <label for="xPadding">xPadding:</label>
                        <p class="slider-value">3</p>
                    </div>
                    <input
                        type="range" id="xPadding" name="xPadding" min="3" max="10" value="5"
                        hx-post="/generate"
                        hx-trigger="change delay:200ms"
                        oninput="updateSliderValue(this)"
                    >
                </div>
                <div class="slider-container">
                    <div class="slider-label-container">
                        <label for="yPadding">yPadding:</label>
                        <p class="slider-value">3</p>
                    </div>
                    <input
                        type="range" id="yPadding" name="yPadding" min="3" max="10" value="3"
                        hx-post="/generate"
                        hx-trigger="change delay:200ms"
                        oninput="updateSliderValue(this)"
                    >
                </div>
                <div class="slider-container">
                    <div class="slider-label-container">
                        <label for="useExtendedChars">Use extended characters:</label>
                    </div>
                    <input
                        type="checkbox" id="useExtendedChars" name="useExtendedChars" checked
                        hx-post="/generate"
                        hx-trigger="change"
                    >
                </div>
                <button
                    hx-post="/generate"
                >Generate</button>
            </form>
            <div class="example-buttons">
                <button type="button" onclick="setExample('graph LR\nA --> B & C\nB --> C & D\nD --> C')" style="background-color: green; color: white;">Example 1: simple graph</button>
                <button type="button" onclick="setExample('graph TD\nA -->|labelled arrow| B\nA --> Example2')" style="background-color: teal; color: white;">Example 2: labelled arrow</button>
                <button type="button" onclick="setExample('graph LR\nclassDef examplecolor color:#ff00ff\nA --> B\nA --> ColorText:::examplecolor\nB --> D\nColorText --> D')" style="background-color: blue; color: white;">Example 3: styled text</button>
            </div>
            <hr>
            <p>There are alternative forms of generating mermaid graphs in ASCII using this same Git repository.</p>
            <h2>cUrl request with data</h2>
            <div class="code-block">
                <button class="copy-button" _="on click
                    writeText(my nextElementSibling.innerText) on navigator.clipboard
                    put 'Copied!' into me
                    wait 2s
                    put 'Copy' into me
                ">Copy</button>
                <pre><code>curl https://mermaid-ascii.art/generate -d mermaid="graph LR\nABC --> DEF"</code></pre>
            </div>
            <h2>Run Golang in CLI</h2>
            <div class="code-block">
                <button class="copy-button" _="on click
                    writeText(my nextElementSibling.innerText) on navigator.clipboard
                    put 'Copied!' into me
                    wait 2s
                    put 'Copy' into me
                ">Copy</button>
                <pre><code>git clone https://github.com/AlexanderGrooff/mermaid-ascii
cd mermaid-ascii
go run main.go -f test.mermaid</code></pre>
            </div>
        </div>
        <div class="column">
            <!-- Credit: https://github.com/bigskysoftware/_hyperscript/issues/531#issuecomment-2049830473 -->
            <button _="on click
                writeText(my nextElementSibling's innerText) on navigator.clipboard
                put 'Copied!' into me
                wait 2s
                put 'Copy' into me
            ">Copy</button>
            <pre id="result" class="code-block"><!-- Result content goes here --></pre>
        </div>
    </div>
</body>
</html>
